<h2 class="text-center">Login form</h2>

{{#layout/iron-row}}
  {{#ui/iron-form submit="authenticate"}}
    {{quick/form-control-field model=form valueKey="email" required=true}}
    {{quick/form-control-field model=form valueKey="password" required=true type="password"}}
    {{quick/form-submit}}
  {{/ui/iron-form}}
{{/layout/iron-row}}

{{#layout/iron-row}}
  <div id="sign-link">
    {{link-to 'Go to register page' 'signup'}}
  </div>
{{/layout/iron-row}}