<div id="sales-board">
  <div class="row">
    <h1 class="text-center">Доска объявлений</h1>
  </div>

  <div class="row">
    <div id="ad-filtering-block">
      <a href="" id="new-ad-filter-link" {{action "addFilter"}}>
        <span>Добавить фильтры</span>
      </a>
      <div id="ad-filters">
        {{#each filters as |filter|}}
          {{sales-board/ad-filter filter=filter countries=model.countries removeFilter=(action "removeFilter")}}
        {{/each}}
      </div>
    </div>
  </div>
</div>