<div id="sales-board">
  {{#layout/iron-row }}
    <h1 class="text-center">Sales board;)</h1>
  {{/layout/iron-row }}

  {{#layout/iron-row}}
    {{#layout/iron-column size=3 id="left-column"}}
      <ul id="ads-filters-list">
        <li class="ads-filters-point">
          <a href="#" class="ad-filter-open-dialog" {{action "addFilter"}}>Add new link</a>
        </li>
        {{#each filters as |filter|}}
          {{sales-board/ad-filter
            filter=filter
            countries=model.countries
            marks=model.marks
            removeFilter=(action "removeFilter")
          }}
        {{/each}}
      </ul>
    {{/layout/iron-column}}
  {{/layout/iron-row}}
</div>