<div id="sales-board">
  {{#layout/iron-row }}
    <h1 class="text-center">Sales board;)</h1>
  {{/layout/iron-row }}

  <div class="row">
    <section id="ads-filters-container">
      <a href="#" class="ad-filter-open-dialog" {{action "addFilter"}}>Add new link</a>
      <span id="ads-filters-list">
        {{#each filters as |filter|}}
          {{sales-board/ad-filter
            filter=filter
            countries=model.countries
            removeFilter=(action "removeFilter")
          }}
        {{/each}}
      </span>
    </section>
  </div>
</div>